.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
	background: linear-gradient(-45deg, #3b1a1a, #1c2625, #5df0a0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.center {
    text-align: center;
}

.ldBar-label {
	color: white;
	font-size: 50px;
	font-family: 'Source Code Pro', monospace;
}